<div class="benifts-section" id="benefits">
    <div class="container">
        <h2 class="rst-title">Why You'll Love It</h2>

        <div class="swiper-rst-main">
            <div class="rst-swiper swiper mySwiper" data-swiper="rst-swiper">

                <ul class="rst-list swiper-wrapper">
                    <li class="rst-list-item swiper-slide">
                        <img class="rst-list-image"
                            srcset="./img/reason-to-play/brain-boost.webp 1x, ./img/reason-to-play/brain-boost@2x.webp 2x"
                            src="./img/reason-to-play/brain-boost.webp" alt="brain booster" />
                        <button class="rst-list-button">Brain Booster</button>
                        <p class="rst-list-subtitle">Enhances focus, memory, and logic</p>
                    </li>
                    <li class="rst-list-item swiper-slide">
                        <img class="rst-list-image"
                            srcset="./img/reason-to-play/colorful-design.webp 1x, ./img/reason-to-play/colorful-design@2x.webp 2x"
                            src="./img/reason-to-play/colorful-design.webp" alt="colorful design" />
                        <button class="rst-list-button">Colorful Design</button>
                        <p class="rst-list-subtitle">Vivid, satisfying explosions with every combo</p>
                    </li>
                    <li class="rst-list-item swiper-slide">
                        <img class="rst-list-image"
                            srcset="./img/reason-to-play/addictive.webp 1x, ./img/reason-to-play/addictive@2x.webp 2x"
                            src="./img/reason-to-play/addictive.webp" alt="addictive gameplay" />
                        <button class="rst-list-button">Addictive Gameplay</button>
                        <p class="rst-list-subtitle">Easy to learn, hard to master</p>
                    </li>
                    <li class="rst-list-item swiper-slide">
                        <img class="rst-list-image"
                            srcset="./img/reason-to-play/stress-reveal.webp 1x, ./img/reason-to-play/stress-reveal@2x.webp 2x"
                            src="./img/reason-to-play/stress-reveal.webp" alt="stress reliever" />
                        <button class="rst-list-button">Stress Reliever</button>
                        <p class="rst-list-subtitle">Calm visuals and relaxing mechanics</p>
                    </li>
                    <li class="rst-list-item swiper-slide">
                        <img class="rst-list-image"
                            srcset="./img/reason-to-play/brain-boost.webp 1x, ./img/reason-to-play/brain-boost@2x.webp 2x"
                            src="./img/reason-to-play/brain-boost.webp" alt="brain booster" />
                        <button class="rst-list-button">Brain Booster</button>
                        <p class="rst-list-subtitle">Enhances focus, memory, and logic</p>
                    </li>
                    <li class="rst-list-item swiper-slide">
                        <img class="rst-list-image"
                            srcset="./img/reason-to-play/colorful-design.webp 1x, ./img/reason-to-play/colorful-design@2x.webp 2x"
                            src="./img/reason-to-play/colorful-design.webp" alt="colorful design" />
                        <button class="rst-list-button">Colorful Design</button>
                        <p class="rst-list-subtitle">Vivid, satisfying explosions with every combo</p>
                    </li>
                    <li class="rst-list-item swiper-slide">
                        <img class="rst-list-image"
                            srcset="./img/reason-to-play/addictive.webp 1x, ./img/reason-to-play/addictive@2x.webp 2x"
                            src="./img/reason-to-play/addictive.webp" alt="addictive gameplay" />
                        <button class="rst-list-button">Addictive Gameplay</button>
                        <p class="rst-list-subtitle">Easy to learn, hard to master</p>
                    </li>
                    <li class="rst-list-item swiper-slide">
                        <img class="rst-list-image"
                            srcset="./img/reason-to-play/stress-reveal.webp 1x, ./img/reason-to-play/stress-reveal@2x.webp 2x"
                            src="./img/reason-to-play/stress-reveal.webp" alt="stress reliever" />
                        <button class="rst-list-button">Stress Reliever</button>
                        <p class="rst-list-subtitle">Calm visuals and relaxing mechanics</p>
                    </li>
                </ul>

            </div>
            <button class="rst-swiper-btn-prev swiper-button-prev" data-rst-prev-btn>
                <svg class="rst-move-icon" width="35" height="35">
                    <use href="./sprite.svg#icon-left-arrow"></use>
                </svg>
            </button>
            <button class="rst-swiper-btn-next swiper-button-next" data-rst-next-btn>
                <svg class="rst-move-icon" width="35" height="35">
                    <use href="./sprite.svg#icon-rigth-arrow"></use>
                </svg>
            </button>

        </div>
    </div>
</div>
</div>