<div class="cookies-window" data-cookies-window>
    <div class="cookie-banner container" id="cookieBanner">

        <h2 class="cookie-banner-header">Cookies Policy</h2>
        <p class="cookie-banner-message">We use cookies to improve your experience on our website. By browsing this
            website,
            you agree to our use of cookies.</p>
        <div class="cookie-banner-buttons">
            <button id="acceptCookies" class="cookie-banner-button cookie-banner-button-accept">ACCEPT COOKIES</button>
            <button id="declineCookies" class="cookie-banner-button cookie-banner-button-decline">DECLINE
                COOKIES</button>
        </div>
    </div>

    <div class="cookie-message" id="cookieMessage">
        <p id="cookieMessageText"></p>

    </div>
</div>