<section class="designed-for-section">
    <div class="container">
        <h2 class="designed-for-header">Designed for Everyone</h2>
        <div class="designed-for-container">
            <div class="designed-for-image-one">
                <picture class="image-set-designed">
                    <source
                        srcset="/img/designed-for/designed-one-desc.webp 1x, /img/designed-for/designed-one@2x-desc.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                    <img src="/img/designed-for/designed-one-desc.webp" alt="Designed-for-img">
                </picture>
            </div>
            <div class="designed-for-content">

                <p class="designed-for-text">Whether you're playing during your commute or unwinding before bed, Fading
                    Storm offers a smooth,
                    accessible experience
                    across all Android 6.0+ devices.</p>
                <ul class="designed-for-list">
                    <li class="designed-for-item"><span class="designed-for-span">Size:</span> Lightweight and optimized
                    </li>
                    <li class="designed-for-item"><span class="designed-for-span">Offline Play:</span> No internet? No
                        problem</li>
                    <li class="designed-for-item"><span class="designed-for-span">Daily Rewards:</span> Come back daily
                        for
                        boosts and gems</li>
                </ul>
            </div>
            <div class="designed-for-image-two">
                <picture class="image-set-designed">
                    <source
                        srcset="/img/designed-for/designed-two-desc.webp 1x, /img/designed-for/designed-two@2x-desc.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                    <img src="/img/designed-for/designed-two-desc.webp" alt="Designed-for-img">
                </picture>
            </div>
        </div>
    </div>
</section>