<section class="features-section">
  <div class="container">
    <h2 class="features-title">Key Features</h2>
    <p class="features-subtitle">Why you'll love Fading Storm Puzzle: Rush Game</p>
    <ul class="features-list">
      <li class="feature-item">
        <h3 class="feature-title">Jewel elements</h3>
        <picture>
          <source class="feature-source" media="(min-width: 1200px)"
            srcset="./img/features/desktop/features1-desktop.webp 1x, ./img/features/desktop/features1-desktop@2x.webp 2x" />
          <img class="feature-image" src="./img/features/mobile/features1-mob.webp"
            srcset="./img/features/mobile/features1-mob.webp 1x, ./img/features/mobile/features1-mob@2x.webp 2x"
            alt="Jewel elements icon" />
        </picture>
        <p class="feature-description">Jewel elements and combo-driven scoring</p>
      </li>
      <li class="feature-item">
        <h3 class="feature-title">Rotation mechanics</h3>
        <picture>
          <source class="feature-source" media="(min-width: 1200px)"
            srcset="./img/features/desktop/features2-desktop.webp 1x, ./img/features/desktop/features2-desktop@2x.webp 2x" />
          <img class="feature-image" src="./img/features/mobile/features2-mob.webp"
            srcset="./img/features/mobile/features2-mob.webp 1x, ./img/features/mobile/features2-mob@2x.webp 2x"
            alt="Rotation mechanics icon" />
        </picture>
        <p class="feature-description">Rotation and drop mechanics for deeper strategy</p>
      </li>
      <li class="feature-item">
        <h3 class="feature-title">Colorful Graphics</h3>
        <picture>
          <source class="feature-source" media="(min-width: 1200px)"
            srcset="./img/features/desktop/features3-desktop.webp 1x, ./img/features/desktop/features3-desktop@2x.webp 2x" />
          <img class="feature-image" src="./img/features/mobile/features3-mob.webp"
            srcset="./img/features/mobile/features3-mob.webp 1x, ./img/features/mobile/features3-mob@2x.webp 2x"
            alt="Colorful graphics icon" />
        </picture>
        <p class="feature-description">Stunning visuals and satisfying block explosions</p>
      </li>
      <li class="feature-item">
        <h3 class="feature-title">Exciting challenges</h3>
        <picture>
          <source class="feature-source" media="(min-width: 1200px)"
            srcset="./img/features/desktop/features4-desktop.webp 1x, ./img/features/desktop/features4-desktop@2x.webp 2x" />
          <img class="feature-image" src="./img/features/mobile/features4-mob.webp"
            srcset="./img/features/mobile/features4-mob.webp 1x, ./img/features/mobile/features4-mob@2x.webp 2x"
            alt="Exciting challenges icon" />
        </picture>
        <p class="feature-description">10x10 grid with evolving challenges</p>
      </li>
      <li class="feature-item">
        <h3 class="feature-title">Multiplayer</h3>
        <picture>
          <source class="feature-source" media="(min-width: 1200px)"
            srcset="./img/features/desktop/features5-desktop.webp 1x, ./img/features/desktop/features5-desktop@2x.webp 2x" />
          <img class="feature-image" src="./img/features/mobile/features5-mob.webp"
            srcset="./img/features/mobile/features5-mob.webp 1x, ./img/features/mobile/features5-mob@2x.webp 2x"
            alt="Multiplayer icon" />
        </picture>
        <p class="feature-description">Multiple game modes to keep things fresh</p>
      </li>
      <li class="feature-item">
        <h3 class="feature-title">Classic 10/10</h3>
        <picture>
          <source class="feature-source" media="(min-width: 1200px)"
            srcset="./img/features/desktop/features6-desktop.webp 1x, ./img/features/desktop/features6-desktop@2x.webp 2x" />
          <img class="feature-image" src="./img/features/mobile/features6-mob.webp"
            srcset="./img/features/mobile/features6-mob.webp 1x, ./img/features/mobile/features6-mob@2x.webp 2x"
            alt="Classic 10 by 10 grid icon" />
        </picture>
        <p class="feature-description">Classic 10х10 and woodoku-inspired gameplay</p>
      </li>
    </ul>
        
        

    <ul class="feature-svg-list">
      <li class="feature-svg-list-item">
        <svg class="feature-svg-icon">
          <use href="./sprite.svg#icon-ic_baseline-electric-bolt"></use>
        </svg>
        <p class="feature-svg-title">Brain booster</p>
      </li>
      <li class="feature-svg-list-item">
        <svg class="feature-svg-icon">
          <use href="./sprite.svg#icon-streamline-sharp_star-2-solid"></use>
        </svg>
        <p class="feature-svg-title">Colorful design</p>
      </li>
      <li class="feature-svg-list-item">
        <svg class="feature-svg-icon">
          <use href="./sprite.svg#icon-lucide_smile"></use>
        </svg>
        <p class="feature-svg-title">Challenging levels</p>
      </li>
      <li class="feature-svg-list-item">
        <svg class="feature-svg-icon">
          <use href="./sprite.svg#icon-mdi_heart-outline"></use>
        </svg>
        <p class="feature-svg-title">Global ranks</p>
      </li>
      <li class="feature-svg-list-item">
        <svg class="feature-svg-icon">
          <use href="./sprite.svg#icon-lucide_bolt"></use>
        </svg>
        <p class="feature-svg-title">Stress reliever</p>
      </li>
      <li class="feature-svg-list-item">
        <svg class="feature-svg-icon">
          <use href="./sprite.svg#icon-clarity_world-line"></use>
        </svg>
        <p class="feature-svg-title">Easy controls</p>
      </li>
      <li class="feature-svg-list-item">
        <svg class="feature-svg-icon">
          <use href="./sprite.svg#icon-ic_baseline-done"></use>
        </svg>
        <p class="feature-svg-title">Replay value</p>
      </li>
      <li class="feature-svg-list-item">
        <svg class="feature-svg-icon">
          <use href="./sprite.svg#icon-ic_baseline-replay"></use>
        </svg>
        <p class="feature-svg-title">Replay highlights</p>
      </li>
    </ul>
  </div>
</section>