<footer class="footer">
  <div class="container footer-container">
    <p class="footer-desc">
      Crafted for puzzle lovers. Built by players. Powered by passion.<br>
      RushStorm.site – Your destination for vibrant,
      strategic fun.</p>
    </p>
    <nav class="footer-nav">
      <ul class="footer-links">
        <li class="footer-links-item"><a href="./back-link.html">Privacy Policy</a></li>
        <li class="footer-links-item"><a href="./back-link.html">Terms of Service</a></li>
        <li class="footer-links-item"><a href="./back-link.html">Cookies Policy</a></li>
        <li class="footer-links-item">
          <address class="footer-contact">
            <p>Contact: <a href="mailto:info@rushstorm.site">info@rushstorm.site</a></p>
          </address>
        </li>
      </ul>

    </nav>
    <p class="footer-name">Fading Storm Puzzle: Rush Game</p>
    <p class="footer-copyright">
      &copy; 2025 <a href="./index.html">RushStorm</a>. All rights reserved.
    </p>
  </div>
</footer>