<section class="game-modes-section">
  <div class="container">
    <h2 class="game-modes-title">Game Modes</h2>
    <p class="game-modes-subtitle">Choose Your Way to Play</p>
    <ul class="game-modes-list">
      <li class="game-modes-item">
        <picture>
          <source class="game-modes-source" media="(min-width: 1200px)"
            srcset="./img/game-modes/desktop/game-mod1-desktop.webp 1x, ./img/game-modes/desktop/game-mod1-desktop@2x.webp 2x" />
          <img src="./img/game-modes/mobile/game-mod1-mob.webp"
            srcset="./img/game-modes/mobile/game-mod1-mob.webp 1x, ./img/game-modes/mobile/game-mod1-mob@2x.webp 2x"
            alt="Classic mode screenshot" class="game-modes-item-img" />
        </picture>
        <button class="game-modes-item-button">Try Mode</button>
        <div class="game-modes-items-wrapper">
          <h3 class="game-modes-item-title">Classic</h3>
          <p class="game-modes-item-subtitle">
            A timeless experience — fill lines, earn points, and survive as long as you can.
          </p>
        </div>
        <div class="game-modes-items-wrapper-desktop">
          <h3 class="game-modes-item-title">Jewel Quest</h3>
          <p class="game-modes-item-subtitle">
            Slide jewel-themed blocks to uncover hidden patterns and mega combos.
          </p>
        </div>
      </li>
      <li class="game-modes-item">
        <picture>
          <source class="game-modes-source" media="(min-width: 1200px)"
            srcset="./img/game-modes/desktop/game-mod2-desktop.webp 1x, ./img/game-modes/desktop/game-mod2-desktop@2x.webp 2x" />
          <img src="./img/game-modes/mobile/game-mod2-mob.webp"
            srcset="./img/game-modes/mobile/game-mod2-mob.webp 1x, ./img/game-modes/mobile/game-mod2-mob@2x.webp 2x"
            alt="Rush Challenge mode screenshot" class="game-modes-item-img" />
        </picture>
        <button class="game-modes-item-button">Try Mode</button>
        <div class="game-modes-items-wrapper">
          <h3 class="game-modes-item-title">Rush Challenge</h3>
          <p class="game-modes-item-subtitle">
            Limited time, endless thrill. Clear blocks quickly to win.
          </p>
        </div>

        <div class="game-modes-items-wrapper-desktop">
          <h3 class="game-modes-item-title">Rush Challenge</h3>
          <p class="game-modes-item-subtitle">
            Limited time, endless thrill. Clear blocks quickly to win.
          </p>
        </div>
      </li>
    </ul>
    

    <h2 class="rst-title">Why You'll Love It</h2>
    <ul class="rst-list">
      <li>
        <img src="" alt="">
        <button>Brain Booster</button>
        <p>Enhances focus, memory, and logic</p>
      </li>
      <li>
        <img src="" alt="">
        <button>Colorful Design</button>
        <p>Vivid, satisfying explosions with every combo</p>
      </li>
      <li>
        <img src="" alt="">
        <button>Addictive Gameplay</button>
        <p>Easy to learn, hard to master</p>
      </li>
      <li>
        <img src="" alt="">
        <button>Stress Reliever</button>
        <p>Calm visuals and relaxing mechanics</p>
      </li>
    </ul>
  </div>
</section>