<section class="game-modes-section">
  <div class="container">
    <h2 class="game-modes-title">Game Modes</h2>
    <p class="game-modes-subtitle">Choose Your Way to Play</p>
    <ul class="game-modes-list">
      <li class="game-modes-item">
        <div class="game-modes-top-wrapper">
          <picture>
            <source class="game-modes-source" media="(min-width: 1200px)"
              srcset="./img/game-modes/desktop/game-mod1-desktop.webp 1x, ./img/game-modes/desktop/game-mod1-desktop@2x.webp 2x" />
            <img src="./img/game-modes/mobile/game-mod1-mob.webp"
              srcset="./img/game-modes/mobile/game-mod1-mob.webp 1x, ./img/game-modes/mobile/game-mod1-mob@2x.webp 2x"
              alt="Classic mode screenshot" class="game-modes-item-img" />
          </picture>
          <button class="game-modes-item-button">
            <a href="">Try Mode</a>
          </button>
        </div>
        <div class="game-modes-items-wrapper">
          <h3 class="game-modes-item-title">Classic</h3>
          <p class="game-modes-item-subtitle">
            A timeless experience — fill lines, earn points, and survive as long as you can.
          </p>
        </div>
        <div class="game-modes-items-wrapper-desktop">
          <h3 class="game-modes-item-title">Jewel Quest</h3>
          <p class="game-modes-item-subtitle">
            Slide jewel-themed blocks to uncover hidden patterns and mega combos.
          </p>
        </div>
      </li>
      <li class="game-modes-item">
       <div class="game-modes-top-wrapper">
        <picture>
          <source class="game-modes-source" media="(min-width: 1200px)"
            srcset="./img/game-modes/desktop/game-mod2-desktop.webp 1x, ./img/game-modes/desktop/game-mod2-desktop@2x.webp 2x" />
          <img src="./img/game-modes/mobile/game-mod2-mob.webp"
            srcset="./img/game-modes/mobile/game-mod2-mob.webp 1x, ./img/game-modes/mobile/game-mod2-mob@2x.webp 2x"
            alt="Rush Challenge mode screenshot" class="game-modes-item-img" />
        </picture>
        <button class="game-modes-item-button">
          <a href="">Try Mode</a>
        </button>
       </div>
        <div class="game-modes-items-wrapper">
          <h3 class="game-modes-item-title">Rush Challenge</h3>
          <p class="game-modes-item-subtitle">
            Limited time, endless thrill. Clear blocks quickly to win.
          </p>
        </div>

        <div class="game-modes-items-wrapper-desktop">
          <h3 class="game-modes-item-title">Rush Challenge</h3>
          <p class="game-modes-item-subtitle">
            Limited time, endless thrill. Clear blocks quickly to win.
          </p>
        </div>
      </li>
    </ul>
    

    <div class="benifts-container" id="benefits">
      <h2 class="rst-title">Why You'll Love It</h2>
      <ul class="rst-list">
        <li class="rst-vector">
          <button class="rst-list-svg-button" type="button">
            <svg class="rst-list-svg" width="35" height="35">
              <use href="./sprite.svg#icon-left-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="rst-list-item">
          <img class="rst-list-image"
            srcset="./img/reason-to-play/brain-boost.webp 1x, ./img/reason-to-play/brain-boost@2x.webp 2x"
            src="./img/reason-to-play/brain-boost.webp" alt="brain booster" />
          <button class="rst-list-button">Brain Booster</button>
          <p class="rst-list-subtitle">Enhances focus, memory, and logic</p>
        </li>
        <li class="rst-list-item" data-rst-nonactive>
          <img class="rst-list-image"
            srcset="./img/reason-to-play/colorful-design.webp 1x, ./img/reason-to-play/colorful-design@2x.webp 2x"
            src="./img/reason-to-play/colorful-design.webp" alt="colorful design" />
          <button class="rst-list-button">Colorful Design</button>
          <p class="rst-list-subtitle">Vivid, satisfying explosions with every combo</p>
        </li>
        <li class="rst-list-item" data-rst-active>
          <img class="rst-list-image"
            srcset="./img/reason-to-play/addictive.webp 1x, ./img/reason-to-play/addictive@2x.webp 2x"
            src="./img/reason-to-play/addictive.webp" alt="addictive gameplay" />
          <button class="rst-list-button">Addictive Gameplay</button>
          <p class="rst-list-subtitle">Easy to learn, hard to master</p>
        </li>
        <li class="rst-list-item">
          <img class="rst-list-image"
            srcset="./img/reason-to-play/stress-reveal.webp 1x, ./img/reason-to-play/stress-reveal@2x.webp 2x"
            src="./img/reason-to-play/stress-reveal.webp" alt="stress reliever" />
          <button class="rst-list-button">Stress Reliever</button>
          <p class="rst-list-subtitle">Calm visuals and relaxing mechanics</p>
        </li>
        <li class="rst-vector">
          <button class="rst-list-svg-button" type="button">
            <svg class="rst-list-svg" width="35" height="35">
              <use href="./sprite.svg#icon-rigth-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>