<section class="how-to-play-section" id="how-to-play">
  <div class="container">
    <h2 class="htp-title">How to Play</h2>
    <p class="htp-subtitle">Quick Steps to Start Playing</p>
    <ul class="htp-list">
      <li class="htp-list-item">
        <img class="htp-list-image" src="./img/how-to-play/how-to-play1-mob.webp"
          srcset="./img/how-to-play/how-to-play1-mob.webp 1x, ./img/how-to-play/how-to-play1-mob@2x.webp 2x"
          alt="gameplay showcase" />
      </li>
      <li class="htp-list-item">
        <img class="htp-list-image" src="./img/how-to-play/how-to-play2-mob.webp"
          srcset="./img/how-to-play/how-to-play2-mob.webp 1x, ./img/how-to-play/how-to-play2-mob@2x.webp 2x"
          alt="gameplay showcase" />
      </li>
      <li class="htp-list-item">
        <img class="htp-list-image" src="./img/how-to-play/how-to-play3-mob.webp"
          srcset="./img/how-to-play/how-to-play3-mob.webp 1x, ./img/how-to-play/how-to-play3-mob@2x.webp 2x"
          alt="gameplay showcase" />
      </li>
    </ul>
  </div>
</section>