<section class="section-join-our-community">
    <div class="container join-our-community-container">
        <div class="join-our-community-descr">
            <h2 class="join-our-community-title">Join Our Community</h2>
            <p class="join-our-community-text">Join thousands of players already addicted to the blast. Compete on
                leaderboards, share strategies, and become a legend
                in the jewel puzzle world.</p>
        </div>
        <div class="join-our-community-cards">
            <ul class="join-our-community-cards-list">
                <li class="join-our-community-cards-item">
                    <picture class="image-set-players">
                        <source srcset="/img/join/player-one-desc.webp 1x, /img/join/player-one@2x-desc.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source srcset="/img/join/pl-one-mob.webp 1x, /img/join/pl-one-mob@2x.webp 2x"
                            media="(max-width: 1199px)" type="image/webp">
                        <img src="/img/join/pl-one-mob.webp" alt="Player-card 1">
                    </picture>
                    <ul class="player-info-list">
                        <li class="player-info-item">
                            <p class="player-info-item-text">Just reached a new high score!</p>
                        </li>
                        <li class="player-info-item-hash">#RushStormGame</li>
                        <li class="player-info-item-other">
                            <svg class="player-info-item-icon" width="20" height="20">
                                <use href="./sprite.svg#icon-green-ball"></use>
                            </svg>
                            <p class="player-info-item-other-text">Player1</p>
                        </li>
                    </ul>
                </li>

                <li class="join-our-community-cards-item">
                    <picture class="image-set-players">
                        <source srcset="/img/join/player-two-desc.webp 1x, /img/join/player-two@2x-desc.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source srcset="/img/join/pl-two-mob.webp 1x, /img/join/pl-two-mob@2x.webp 2x"
                            media="(max-width: 1199px)" type="image/webp">
                        <img src="/img/join/pl-two-mob.webp" alt="Player-card 2">
                    </picture>
                    <ul class="player-info-list">
                        <li class="player-info-item">
                            <p class="player-info-item-text">Loving the Jewel Quest mode!</p>
                        </li>
                        <li class="player-info-item-hash">#FadingStormChallenge</li>
                        <li class="player-info-item-other">
                            <svg class="player-info-item-icon" width="20" height="20">
                                <use href="./sprite.svg#icon-green-ball"></use>
                            </svg>
                            <p class="player-info-item-other-text">Player2</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <button type="button" class="join-button join-button-next">
                <svg class="join-icon" width="15" height="16">
                    <use href="./sprite.svg#icon-v-arrow-down"></use>
                </svg>
            </button>
            <button type="button" class="join-button join-button-prev">
                <svg class="join-icon" width="15" height="16">
                    <use href="./sprite.svg#icon-v-arrow-down"></use>
                </svg>
            </button>
        </div>
        <ul class="join-our-community-social-list">
            <li class="join-our-community-social-item">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icon" width="24" height="24">
                        <use href="./sprite.svg#icon-ellipse"></use>
                    </svg>
                    <p class="social-text">Instagram</p>
                </a>
            </li>
            <li class="join-our-community-social-item">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icon" width="24" height="24">
                        <use href="./sprite.svg#icon-rectangle"></use>
                    </svg>
                    <p class="social-text">Facebook</p>
                </a>
            </li>
            <li class="join-our-community-social-item">
                <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icon" width="32" height="32">
                        <use href="./sprite.svg#icon-triangle"></use>
                    </svg>
                    <p class="social-text">Tik-Tok</p>
                </a>
            </li>
            <li class="join-our-community-social-item">
                <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                    <svg class="social-icon" width="32" height="32">
                        <use href="./sprite.svg#icon-star"></use>
                    </svg>
                    <p class="social-text">YouTube</p>
                </a>
            </li>
        </ul>
    </div>





</section>