<section class="technical-details">
  <div class="container technical-details-container">
    <h2 class="technical-details-title">Technical Details</h2>
    <ul class="details-list">
      <li class="details-item">
        <p class="details-parameter">Version</p>
        <p class="details-value">1.2.1</p>
      </li>
      <li class="details-item">
        <p class="details-parameter">Android</p>
        <p class="details-value">6.0+</p>
      </li>
      <li class="details-item">
        <p class="details-parameter">Size</p>
        <p class="details-value">38MB</p>
      </li>
      <li class="details-item">
        <p class="details-parameter">Last Update</p>
        <p class="details-value">June 2025</p>
      </li>
      <li class="details-item">
        <p class="details-parameter">Language</p>
        <p class="details-value">English</p>
      </li>
      <li class="details-item">
        <p class="details-parameter">In-app Purchases</p>
        <p class="details-value">Available</p>
    </ul>

  </div>
</section>