<section class="watch-gameplay">
  <div class="container watch-gameplay-container">

    <h2 class="watch-gameplay-title">
      Ready toBlast?<br>Download on Play, watch gameplay.
    </h2>
    <button class="watch-gameplay-button">
      <svg class="icon-google-play" aria-hidden="true" width="50" height="50">
        <use href="public/sprite.svg#icon-google-play"></use>
      </svg>
      <p class="watch-gameplay-text">
        GET IT ON <br><span class="watch-gameplay-span">Google Play</span>
      </p>
    </button>
    <a href="./youtube.html">Watch Gameplay</a>

  </div>
</section>