h1,
h2 {
    color: #1F2A62;
    line-height: 1.3;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg,
            #1F2A62 0%,
            #FBBC04 10%,
            #1F2A62 30%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: shine 10s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

button {
    animation: pulse-btn 2s infinite alternate;
}

a img {
    animation: pulse-btn 3s infinite alternate;
}

@keyframes pulse-btn {
    0% {
        opacity: 1;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        transform: scale(1.03);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.9;
        transform: scale(0.96);
    }

    100% {
        opacity: 1;
        transform: scale(1.06);
    }
}

@keyframes image-pulse {
    0% {
        filter: brightness(1.1) contrast(1.0);
        box-shadow: 0 0 0px rgba(255, 255, 0, 0.0);
    }

    100% {
        filter: brightness(1.1) contrast(1.5);
        box-shadow: 0 0 15px rgba(255, 255, 0, 0.8);
    }
}