.benifts-section {
    padding-top: 12px;
    padding-bottom: 12px;
    scroll-margin-top: 44px;
    overflow: clip;
}

.swiper-rst-main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.rst-title {
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    color: #1F2A62;
    text-align: center;
    margin-bottom: 16px;
    height: auto;
}

.rst-swiper.swiper,
.rst-swiper.swiper.mySwiper.swiper-initialized {
    height: 188px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    overflow: visible;
    height: 100%;
}

.rst-list-item.swiper-slide {
    background-color: #FFFFFF;
    width: 72px !important;
    height: 108px;
    min-width: 72px;
    border: 1px solid #FBBC04;
    box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 3px;
    padding: 4px 2px;
    flex-shrink: 0;
    transition: transform 0.4s ease, margin-top 0.4s ease;
    transform: scale(1);
    transform-origin: center center;
    z-index: 1;
    line-height: 0;
}

.rst-list-item.swiper-slide.swiper-slide-active {
    transform: scale(1.72);
    z-index: 2;
}

.rst-list-image {
    width: 68px;
    height: 55px;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.rst-list-button {
    width: 66px;
    height: 13px;
    font-size: 5px;
    line-height: 0.66;
    margin-bottom: 8px;
    background-color: #FBBC04;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.rst-list-subtitle {
    font-size: 5px;
    width: 62px;
    line-height: 1.6;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all 0.3s ease;
    font-weight: 400;
}

.rst-swiper-btn-prev.swiper-button-prev,
.rst-swiper-btn-next.swiper-button-next {
    display: none;
}

.rst-swiper.swiper.mySwiper.swiper-initialized {
    padding: 0 !important;
}



@media (min-width: 1200px) {
    .swiper-rst-main {
        max-width: 1120px;
    }

    .benifts-section {
        padding-top: 40px;
        padding-bottom: 40px;
        scroll-margin-top: 16px;
    }


    .rst-swiper.swiper,
    .rst-swiper.swiper.mySwiper.swiper-initialized {
        width: 1030px !important;
        margin-left: auto;
        margin-right: auto;
        height: 672px;
        overflow: hidden;
        padding: 0 !important;
    }


    .rst-list-item.swiper-slide {
        width: 260px !important;
        height: 391px !important;
        min-width: 260px;
        border: 1px solid #FBBC04;
        box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
        border-radius: 15px;
        padding: 10px 8px;
    }

    .rst-list-item.swiper-slide.swiper-slide-active {
        transform: scale(1.72);
    }

    .rst-list-item.swiper-slide.swiper-slide-active .rst-list-image {
        border: 1px solid #000 !important;
    }


    .rst-list-image {
        border-radius: 16px;
        width: 244px;
        height: 242px;
        margin-bottom: 8px;
        width: 100%;

    }

    .rst-list-button {
        width: 244px;
        height: 56px;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 15px;
        margin-bottom: 8px;
        background-color: #FBBC04;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        border: none;
        transition: all 0.3s ease;
    }

    .rst-list-subtitle {
        font-size: 16px;
        line-height: 1.5;
    }

    .rst-swiper-btn-prev.swiper-button-prev,
    .rst-swiper-btn-next.swiper-button-next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        margin: 0;
        padding: 0;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 20;
    }

    .rst-swiper-btn-prev.swiper-button-prev {
        left: 0;
    }

    .rst-swiper-btn-next.swiper-button-next {
        right: 0;
    }

    .rst-move-icon {
        fill: #0E0D0D;
        width: 35px;
        height: 35px;
    }

}