.feedback-section {
    padding: 12px 0;
}

.feedback-container {
    max-width: 320px;
}

.feedback-text-block {
    text-align: center;
    margin-bottom: 24px;
}

.feedabck-header {
    font-family: Fredoka One;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #1F2A62;
    margin-bottom: 16px;
}

.feedback-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
}

.feedback-swipe-block {
    position: relative;
    width: 100%;
    min-height: auto;
}

.feedback-button {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    top: 50%;
}

.feedback-button-next {
    right: 0;
    padding: 4px 0 4px 4px;
}

.feedback-button-prev {
    left: 0;
    padding: 4px 4px 4px 0;
}

.feedback-button-next .feedback-icon {
    transform: rotate(-90deg);
}

.feedback-button-prev .feedback-icon {
    transform: rotate(90deg);
}

.feedback-icon {
    fill: #000000;

}

.feedback-list {
    display: flex;
    padding: 14px 27px;
}

.feedback-item {
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    display: none;
    padding: 9px 5px;
    background-color: #FBBC04;
    border-radius: 6px;
}

.feedback-item:first-child {
    display: block;
}

.feedback-user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.feedback-user-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


@media screen and (min-width: 1200px) {
    .feedback-section {
        padding: 40px 135px;
    }

    .feedback-container {
        max-width: 1200px;
        padding: 0 26px;
    }

    .feedback-content-wrapper {
        max-width: 930px;
        margin: 0 auto;
    }

    .feedback-swipe-block {
        padding-bottom: 31px;
        min-height: auto;
    }

    .feedback-item {
        display: block;
        padding: 16px;
    }

    .feedback-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 16px;

    }

    .feedback-button {
        bottom: 0;
        top: auto;
        transform: translateX(-50%);
        padding: 4px;
    }

    .feedback-button-next {
        bottom: 0;
        left: calc(50% - 24px);
        transform: translateX(-50%);
    }

    .feedback-button-prev {
        bottom: 0;
        left: calc(50%);

    }

    .feedback-button-prev .feedback-icon {
        transform: rotate(180deg);
    }

    .feedback-button-next .feedback-icon {
        transform: rotate(0);
    }
}