.footer {
  padding: 5px 0 13px 0;
}

.footer-container {
  max-width: 320px;
}

.footer-desc {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.footer-nav {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer-links {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.footer-links-item {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  padding: 2px;
}

.footer-links-item:hover,
.footer-links-item:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.footer-name {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  text-align: left;
}

.footer-copyright {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 10px 0 29px 0;
  }

  .footer-container {
    max-width: 1200px;
  }

  .footer-desc {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 32px;
  }

  .footer-nav {
    flex-direction: row;
    gap: 3px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
  }

  .footer-links-item {
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 0 6px;
    position: relative;
  }

  .footer-links-item+.footer-links-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 60%;
    background-color: #000;
  }

  .footer-contact {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
  }

  .footer-name {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
  }

  .footer-copyright {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
  }

}