.game-modes-title {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  color: #1F2A62;
  text-align: center;
  margin-bottom: 16px;
}

.game-modes-list {
  margin-bottom: 48px;
}

.game-modes-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-align: center;
  margin-bottom: 16px;
}

.game-modes-item-img {
  display: block;
  margin-bottom: 16px;
  border-radius: 15px;
}

.game-modes-item-button {
  border: none;
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding: 10px 8px;
  width: 77px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}

.game-modes-items-wrapper {
  margin: 0;
  padding: 12px;
}

.game-modes-item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 4px;
}

.game-modes-item-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #000000;
}

.game-modes-items-wrapper-desktop {
  display: none;
}

.rst-title {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  color: #1F2A62;
  text-align: center;
  margin-bottom: 8px;
}

.rst-swiper.swiper {
  width: 288px;
  height: 193px;
  padding-left: 0;
  padding-right: 0;
}

.rst-list.swiper-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-navigation {
  display: none;
}

.rst-list-item.swiper-slide {
  background-color: #FFFFFF;
  box-shadow: 1.5px 3.75px 3px 0px rgba(0, 0, 0, 0.25) inset;
  width: 72px !important;
  height: 116px !important;
  border-radius: 3px;
  flex-shrink: 0;
  padding: 4px 2px;
}


.rst-list-image {
  width: 68px;
  height: 55px;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}

.rst-list-button {
  display: block;
  border: none;
  background-color: #FBBC04;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 5px;
  line-height: 0.66;
  border-radius: 3px;
  width: 66px;
  height: 13px;  
  margin: 0 auto;
  margin-bottom: 11px;
  cursor: default;
}

.rst-list-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 5px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 auto;
  text-align: center;
  width: 62px;
}

.rst-list-item.swiper-slide.swiper-slide-active {
  width: 124px !important;
  height: 193px !important;
  padding: 8px 5px;
  border-radius: 5px;
}

.rst-list-item[data-rst-active] {
  width: 124px;
  height: 193px;
}

.rst-list-item.swiper-slide.swiper-slide-active .rst-list-image {
  width: 114px;
  height: 108px;
}

.rst-list-item.swiper-slide.swiper-slide-active .rst-list-button {
  font-size: 10.5px;
  line-height: 0.66;
  width: 114px;
  height: 24px;
  margin-bottom: 8px;
}

.rst-list-item.swiper-slide.swiper-slide-active .rst-list-subtitle {
  font-weight: 500;
  font-size: 7px;
  line-height: 2;
  width: 114px;
}

.benifts-container {
  scroll-margin-top: 54px;
  overflow: clip;
}

@media screen and (min-width: 1200px) {
  .game-modes-title {
    line-height: 1.3;
  }

  .game-modes-list {
    display: flex;
    gap: 78px;
    margin-bottom: 80px;
  }

  .game-modes-item {
    width: calc((100% - 78px ) / 2);
  }

  .game-modes-top-wrapper {
    position: relative;
  }

  .game-modes-source,
  .game-modes-item-img {
    width: 521px;
    height: 340px;
    margin-bottom: 0;
    border-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .game-modes-item-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 67px;
    height: 24px;
    border-radius: 6px 0 6px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    padding: 4px 8px;
  }

  .game-modes-items-wrapper {
    display: none;
  }

  .game-modes-item-title {
    font-weight: 600;
  }

  .game-modes-items-wrapper-desktop {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    display: block;
    padding: 12px;
    height: 109px;
  }

  .benifts-container {
    position: relative;
  }

  .rst-title {
    margin-bottom: 16px;
  }

  .rst-list {
    align-items: start;
  }

  .rst-swiper.swiper {
    width: 1030px;
    height: 446px;
    padding: 0;  
  }

  .rst-list.swiper-wrapper {
    align-items: start; 
  }

  .rst-list-item.swiper-slide {
    border: 1px  solid #FBBC04;
    box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 260px !important;
    height: 391px !important;
    border-radius: 15px;
    padding: 10px 8px;
  }

  .rst-list-image {
    border-radius: 15px;
    width: 244px;
    height: 248px;
  }

  .rst-list-button {
    width: 244px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 15px;
    margin-bottom: 8px;
  }

  .rst-list-subtitle {
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
  }

  .rst-list-item.swiper-slide.swiper-slide-active {
    width: 486px !important;
    height: 446px !important;
  }

  .rst-list-item.swiper-slide.swiper-slide-active .rst-list-image {
    width: 470px;
    height: 248px;
    margin-bottom: 16px;
  }

  .rst-list-item.swiper-slide.swiper-slide-active .rst-list-button {
    font-size: 24px;
    line-height: 1.5;
    width: 300px;
    height: 56px;
    margin-bottom: 16px;
  }

  .rst-list-item.swiper-slide.swiper-slide-active .rst-list-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    width: 100%; 
  }

  .swiper-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 20;
  }

  .rst-swiper-btn-prev,
  .rst-swiper-btn-next {
    border: none;
    background-color: transparent;
  }

  .rst-move-icon {
    fill: #0E0D0D;
  }
}