.header {
  z-index: 999;
  position: sticky;
  top: 0;
  background-color: transparent;
  height: 50px;
  margin-bottom: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(72, 203, 243, 0.5);
}

.logo {
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  padding: 10px;
}

.navigation-list {
  display: none;
}

.mobile-menu-toggle-btn {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .header {
    margin-top: 12px;
    height: 60px;
    margin-bottom: 12px;
  }

  .header-container {
    background-color: white;
    height: 60px;
    align-items: center;
    border-radius: 15px;
    width: 1120px;
    padding: 0 10px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }


  .navigation-list {
    display: flex;
    margin-left: 200px;
    gap: 27px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    align-items: center;
  }

  .navigation-contact-btn {
    border: none;
    width: 111px;
    height: 47px;
    background-color: #000000;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }

  .mob-menu {
    display: none;
  }
}