.technical-details {
    padding: 12px 0;
}

.technical-details-container {
    max-width: 320px;
}

.technical-details-title {
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Fredoka One', cursive;
    font-size: 32px;
    color: #333;
}

.details-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.details-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #00000080;
    height: 28px;
}

.details-parameter {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    flex-shrink: 0;
    margin-right: 20px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
}

.details-value {
    color: #000000;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: right;

}


@media screen and (min-width: 1200px) {
    .technical-details {
        padding: 40px 0;
    }

    .technical-details-container {
        max-width: 1200px;
    }
}